.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.register form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    padding: 50px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    gap: 10px;
    border-radius: 10px;
}

.register label {
    font-size: 20px;
    font-weight: 700;
}

.register input {
    height: 40px;
    border:none;
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.register-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    border-radius: 10px;
    color: #fff;
    background: #8d8a8a;
    font-weight: 700;
    font-size: 20px;
}